/* applies to anything of class "example-class-selector" */
.project {
	margin-left: 20px;
}

     .center {
          text-align: center;
     }
          .pink {
          background-color: rgb(255, 204, 204);
     }
     .blue {
          background-color: rgb(153, 230, 255);
     }
     .green {
          background-color: rgb(230, 255, 153);
     }

     img {
          max-width: 100%;
          width: 500px;
          height: auto; 
     }
     img:hover {
          box-shadow: 0 0 2px 1px rgba(255, 153, 51, 0.5);
     }
     div {
          padding-top: 12px;
          padding-bottom: 12px;
          font-family: Helvetica;
     }

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}
